<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/auth.css">
    <title>login</title>
</head>
<body>
    <div class="container flex">
        <div class="sub-container flex-column">
            <h1 class="title"> Customer Support </h1>
            <%- include('../partials/error', {errors: error}) %>
            <form class="auth-form flex-column" action="/forgot-password" method="post">
                <h3>Enter Your Registered Email Address</h3>
                <input type="email" class="form-input" id="email" name="email" placeholder="Enter Email" required>
                <button type="submit" class="submit-btn btn">Send Verification</button>
            </form>
            <div class="auth-router flex">
                <p>Create Account?</p>
                <a href="/signup"> Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>