<div class="change-password flex-column">
    <h1>Change Password</h1>
    <br>
    <% if (postLogin) { %>
        <form class="change-password-form flex-column" action="/updatePassword" method="post">
            <% if (error) { %>
                <%- include("../partials/error", {errors: error}) %> 
            <% } %> 
            <input id="new-password" class="form-input" type="password" placeholder="New Password" name="newPassword" required>
            <input id="confirm-password" class="form-input" type="password" placeholder="Confirm Password" name="confirmPassword" required>
            <button id="submit-btn" class="btn" type="submit">Update</button>
        </form>
    <% } else { %>
        <form class="change-password-form flex-column" action="/forgot-password/change-password/<%= userId %> " method="post">
            <% if (error) { %>
                <%- include("../partials/error", {errors: error}) %> 
            <% } %> 
            <input id="new-password" class="form-input" type="password" placeholder="New Password" name="newPassword" required>
            <input id="confirm-password" class="form-input" type="password" placeholder="Confirm Password" name="confirmPassword" required>
            <button id="submit-btn" class="btn" type="submit">Update</button>
        </form>
    <% } %>
    
</div>