<div class="header flex">
  <h1 ><a href="/">Ecommerce Website :)</a></h1>
  <div class="flex">
      <div class="profile-pic">
          <img style="height: 10vh;" src="<%= dp %> " alt="Something went Wrong">
      </div>
      <div class="dropdown">
            <button onclick="dropDown()" class="dropbtn">
                <div class="dropDown-btn flex">
                    <span style="font-weight: bold"> <%= userName %> </span>
                    <img
                    style="height: 25px"
                    src="https://icon-library.com/images/dropdown-menu-icon/dropdown-menu-icon-12.jpg"
                    alt=""
                    />
                </div>
            </button>
            <div id="my-Dropdown" class="dropdown-list flex-column hide">
                <a href="/settings" class="settings-btn dropDown-item flex" id="settings-btn">
                    Settings
                </a>
                <a href="/logout" class="logout-btn dropDown-item flex" id="logout-btn">
                    Logout
                </a>
            </div>
        </div>
    </div>
</div>
