body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.change-password{
    height: inherit;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.change-password-form{
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.change-password-form input{
    height: 2.5em;
    width: 20%;
    min-width: 250px;


    margin: 10px 0;
    border-width: 2px;

    border-radius: 5px;
}

/* .form-input{
    margin: 2rem 0;
    padding: ;
} */

.button-container{
    justify-content: space-between;
    align-items: center;
    width: 92.5%;

    margin: 5px 5px;
}

.btn{
    color: black;
    height: 2.5em;
    width: 35%;
    border: none;
    border-radius: 5px;
}

.danger{
    background-color: #ce5959;
    transition: 0.2s ease-in-out;
}

.danger:hover{
    cursor: pointer;
    background-color: #be1f1f;
}

.safe{
    background-color: #59ce5c;
    transition: 0.2s ease-in-out;
}

.safe:hover{
    cursor: pointer;
    background-color: #1fbe24;
}

.error{
    text-align: center;
    margin: 0;
    color: #ff0000;
}